<div class="row mt-5">
  <div class="col-md-7 col-sm-8  mx-auto">
    {{>message}}

    {{#if noRecords}}
    <h1 class="mt-5"> 您目前沒有任何帳目唷。</h1>

    <!-- 新增按鈕 -->
    <div class="d-flex justify-content-start">
      <p>嘗試新增你的第一筆帳目吧！</p>
      <a href="/records/new" class="btn btn-primary mb-3">新增</a>
    </div>

    {{else}}
    <!-- 類型 -->
    <form action="/records" method="get">
      <div class="input-group mb-3">

        <label class="input-group-text" for="category">帳目類型</label>
        <select class="form-control" id="category" name="category" id="category" onchange="this.form.submit()">
          <option value="ALL">全部</option>

          <!--有 selectCategory -->
          {{#if selectedCategory }}
          {{#each categories as | cate |}}
          {{#with ../selectedCategory as |selectedCate|}}
          {{#isSame cate.name selectedCate}}
          <option value="{{cate.name}}" selected>{{cate.name}}</option>
          {{else}}
          <option value="{{cate.name}}">{{cate.name}}</option>
          {{/isSame}}
          {{/with}}
          {{/each}}

          <!--沒有 selectCategory -->
          {{else}}
          {{#each categories}}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
          {{/if}}
        </select>
      </div>
    </form>

    <!-- totalAmount -->
    <div class="d-flex justify-content-center">
      <p class="lead">總金額</p>
    </div>
    <div class="d-flex justify-content-center">
      <h1 class="display-1 text-info">{{totalAmountString}}</h1>
    </div>

    <!-- sort -->
    <div class="d-flex justify-content-end">
      <form action="/records" method="get">
        <select class="form-control" id="sort" name="sort" id="sort" onchange="this.form.submit()"
          style="width: 100px;">
          <option value='' {{#if sort}}{{else}}selected{{/if}} disabled>排序方式</option>
          <option value='_id-desc' {{#isSame sort '_id-desc' }} selected {{/isSame}}>最新建立</option>
          <option value='date-desc' {{#isSame sort 'date-desc' }} selected {{/isSame}}>日期 - 最近</option>
          <option value='date-asc' {{#isSame sort 'date-asc' }} selected {{/isSame}}>日期 - 最遠</option>
          <option value='amount-desc' {{#isSame sort 'amount-desc' }} selected {{/isSame}}>金額 - 最高</option>
          <option value='amount-asc' {{#isSame sort 'amount-asc' }} selected {{/isSame}}>金額 - 最低</option>
        </select>
      </form>

      <!-- 新增按鈕 -->
      <div class="d-flex justify-content-end ms-2">
        <a href="/records/new" class="btn btn-primary mb-3">新增</a>
      </div>
    </div>

    <!-- 項目list -->
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <span class="col-1">類別</span>
          <span class="col-4">項目</span>
          <span class="col-2">日期</span>
          <span class="col-2">金額</span>
          <span class="col-3">操作</span>
        </div>
      </li>
      {{#each records}}
      <li class="list-group-item">
        <div class="row">
          <!--類別icon-->
          <span class="col-1"><i class="{{this.fontAwesomeClass}} h5"></i></span>
          <!--項目-->
          <span class="col-4 lead">{{ this.name }}</span>
          <!--日期-->
          <span class="col-2">{{this.localDateString}}</span>
          <!--金額-->
          <span class="col-2 h4 text-info">{{this.amount}}</span>
          <!--操作-->
          <div class="col-3">
            <div class="d-flex justify-content-around">
              <a class="btn btn-success" href="/records/{{ this._id }}/edit">edit</a>
              <form action="/records/{{ this._id }}?_method=DELETE" method="POST">
                <button class="btn btn-danger" type="submit">delete</button>
              </form>
            </div>
          </div>

        </div>
      </li>
      {{/each}}
    </ul>
    {{/if}}
  </div>
</div>